*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: black;
    color : white;
}
.container{
    display: flex;
    gap: 20px;
    padding: 20px;
}
.board{
    border: 1px solid #e4e4e4 ;
    height: 70vh;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(99, 99,99,0.2) 0px 2px 8px 0px ;
}

/* .items{
    margin-top: 10px;
} */

.item{
    border: 1px solid;
    padding : 15px 20px;
    border-radius: 8px;
    cursor: pointer;
}
.item:hover{
    background-color: rgb(214, 211, 211);
    color: black
}